[2015-10-05 22:14] andreas83 opened #1 "Notification system"
We should have a Notification system.

Notifications are:
Some of my friends posted something
Some of my firends liked/disliked something
Someone liked my Post
Someone comment on my Post

Garbage Collection:
We should remove any notifications after 7 days

Maybe some special system notification have longer ttl.

[2015-10-06 10:45] chilimatic opened #2 "Basic Chat System"
Original: Als Nutzer möchte ich mich mit den anderen Nutzern die online sind unterhalten können :) "story style" ;)

English: As user i like to communicate with other Users who are Online right now :)

[2015-10-06 13:54] andreas83 opened #3 "Documentation API"
We need a API documentation.

[2015-10-06 14:02] andreas83 opened #4 "Groups / Permission and friends"
we have already a public stream
/public/stream

now we like to have a private stream for all members of a group
/groupname/stream

So new features will be:

Group->Create
Group->Delete
User->AddToGroup
User->RemoveFromGroup

[2015-10-06 16:05] chilimatic opened #5 "Create Random-Slideshow in the home/jumbotron"
As a nice "splash/landingpage" feature we should display a random !!SFW!! slideshow on the start page

[2015-10-06 16:18] andreas83 commented on #5
cool idea!
should we display the latest newest stuff or anything from a specific hastag #landingpage
or completly random?

[2015-10-06 16:20] andreas83 opened #6 "Fileupload"
Right now you can upload any document to /public/upload
We should somehow prevent uploading or executing php and other potentially dangerous filetypes

[2015-10-06 16:30] andreas83 opened #7 "Syntax Code Highlighting"
# Input

text
`<code> my_cool_function() </code>`
# output

text
# expected result

text

[code]

The source of the trouble is the #hashtag replacer,
we need to distinguish between the code and regular text block

[code]

[2015-10-06 16:36] andreas83 commented on #6
@besn can we prevent executing php in /upload/ via server config ?

[2015-10-06 17:57] andreas83 commented on #7
@chilimatic attemp for doing all of this in one regex <3
https://regex101.com/r/xP9uE6/12

[2015-10-06 18:13] chilimatic commented on #5
:D actually I don't mind :) I would go for this order: "highest, latest" and since it's the landing page i would exclude NSFW content. So even if you're logged in or not does not matter you can always open it anywhere :)

and to keep things simple at the beginning it should only be a public stream so we can implement it first and add features to it in the long run. (add personal filters to jumbotr

[2015-10-06 18:55] besn commented on #6
i would opt to move /upload/ to a seperate subdomain that is configured to only serve static content. this would also prevent a (potentially) uploaded javascript from being executed on the main page because it wouldn't be the same origin.

[2015-10-06 21:05] chilimatic commented on #6
:D i like it ! CORS ftw ! :)

[2015-10-06 21:08] chilimatic opened #8 "create build script in phing"
Create a build script in phing that
- check if composer exists
- check if npm exists
- triggers composer and npm update / install
- triggers bower
- triggers phpunit
- triggers a database migration script state

[2015-10-06 21:10] chilimatic opened #9 "create database migration manager"
We need a manager to
- save the current state of the database
- imports the migration scripts

this is so we don't get inconsistent with the environment differences in the database.
and we can build a live system from scratch without legacy dummy data.

[2015-10-06 21:11] chilimatic opened #10 "remove old other project code remnants"
we need to clean up the old code so we don't have any other pre-projects remnants in there

[2015-10-06 21:12] chilimatic commented on #10
you know best what needs to be removed :)

[2015-10-06 22:27] andreas83 commented on #7
fixed for now

[2015-10-06 22:27] #7 closed, assigned to nobody

[2015-10-06 22:31] andreas83 commented on #10
hab alles soweit gelöscht bis auch zwei Sachen:
1.) FirePHP
Kann man evtl. nochmal gebrauchen

2.) CSS vom Syntaxhighlighter
Falls wir nochmal das Theme wechseln

[2015-10-06 22:39] andreas83 commented on #9
Good idea, we could have a update script which checks the db version vs git db version and runs the sql upgrade files.

[2015-10-06 22:39] #10 closed, assigned to andreas83

[2015-10-06 22:41] andreas83 commented on #6
sounds good :+1:

[2015-10-06 22:45] andreas83 opened #11 "Update/Edit Content"
Right now its not possible to edit/update
- Sourcecode
- Pictures
- Uploaded Files
- Website (Title, Description, Pic)
  You can only edit the text at the beginning on each content type.

[2015-10-06 22:50] chilimatic commented on #10
Cool :D wollts nur mal draussen haben :D

[2015-10-06 22:52] chilimatic commented on #9
I like the idea :D maybe we should create a flowchart to see what makes sense or we just prototype :D

[2015-10-06 22:55] andreas83 opened #12 "should we support mp4 too?"
@besn @chilimatic @neuron303

some apple boys not able to play webm, so we could transcode every video to mp4 too.
is it worth the effort/disc space, your opinion please?!

[2015-10-06 23:04] neuron303 commented on #12
yes, but i would only see it as low priority.. i would rather file a bug/feature request with apple to support webm ;)

[2015-10-07 07:34] andreas83 commented on #12
@neuron303 :+1:

[2015-10-07 07:35] #12 closed, assigned to nobody

[2015-10-07 21:57] andreas83 opened #15 "split components from react.jsx into smaller chunks"
Right now to much stuff happens in one file (react.jsx).
We should split the components into smaller chunks, i.e.
## Rendering

Content Box with following types:
- Video
- Websites
- Sourcecode
- Images
- File uploads
## Functions

1.) Sharing Box
2.) Comment Box
3.) Like/Dislike Box
4.) Scroll Event

[2015-10-08 07:57] chilimatic commented on #15
That's no bug :D btw since it's moving toward parallel development i think i drop the angular branch.

[2015-10-08 18:41] andreas83 commented on #15
imho bad coding practice should be treated like other serious programming errors aka bugs, that s the reason why i label this as a bug.
@angular, i still believe that single page app should be our ultimate goal, angular is properly the right framework for it, but also meteor or sail,js could fit our need too..
so lets invest some more time to find or write the "ultimative" framework :)

iam slight

[2015-10-09 07:48] chilimatic commented on #15
well in generall I'm not really sure if meteor or sail.js are a good choice unless we switch the codebase to javascript, since both are node.

there is no ultimative framework every fw has it's pitfalls. for me the decision to stick to one is more important than the rest. just pick one make a decision and stick to it.

[2015-10-11 08:51] andreas83 commented on #15
I started refactoring the react.jsx and splitted its components into smaller files Author.jsx, Comments.jsx, Likes.jsx, Stream.jsx and also renamed StreamBox to InitStream.

67f5eee9ee651f3be2bf672fd0e701d755cc4471

I guess some future work on refactoring needs to be done, but this ticket can be closed for now.

[2015-10-11 08:52] #15 closed, assigned to nobody

[2015-10-13 19:34] besn opened #18 "render newlines in stream text as linebreaks"
example: http://dasmerkendienie.com/permalink/15349

[2015-10-14 00:04] andreas83 commented on #18
done !

[2015-10-14 00:04] #18 closed, assigned to nobody

[2015-10-14 00:05] andreas83 commented on #9
not sure how a flowchart will help, but would love to see some progress here :+1:

[2015-10-14 07:44] chilimatic commented on #9
give me reasons not an opinion :) the "because" is important to me.

because I think coding slow, with plans, allows you to see future problems and you get a nice overview of what has to be done.

you could share the idea and discuss about it before you implement it.
We all forget some Things, we all have our opinions how the code should look like, so we should share the idea in whatever **not cod

[2015-10-14 22:20] andreas83 commented on #9
i would love to talk about your "DRY/ACID/SOLID" and my "get it done attitude" attitude.
imho both are highly valuable and equally important, also i think we can just benefit from each other too.
but why not discuss this on another channel, since this ticket is about the update/migrations of database changes.

my approach in general would be:
1.) the best argument should win
2.) do whatever it tak

[2015-10-25 19:12] andreas83 commented on #1
I like to evalutate the new notication api too:

http://www.heise.de/ix/meldung/Web-Notifications-W3C-verabschiedet-Benachrichtigungsspezifikation-2854088.html

[2015-10-26 19:12] chilimatic commented on #1
find ich gut, ist das schon implementier in die apis ? ansonsten ist es nett aber nicht verwendbar so wie ecma6 :/

[2015-10-31 08:30] andreas83 commented on #1
waren auch meine überlegungen.
wollte es mir mal anschauen, ob es überhaupt den Zweck erfüllt und natürlich auch
ob es von den Browsern in absehbarer Zeit unterstützt wird.

[2015-10-31 08:33] #6 closed, assigned to nobody

[2015-10-31 08:43] andreas83 opened #19 "Responsive video breaks layout in mobile"
Example:
http://www.dasmerkendienie.com/permalink/15407

Test:
In video breaks the layout on smaller displays.

[2015-10-31 08:43] andreas83 commented on #19
@chilimatic any clue how to fix that, you know my css sucks ?

[2015-10-31 11:05] chilimatic commented on #1
http://caniuse.com/#search=notification laut dem schaut's mittelmässig aus :/

[2015-11-01 01:36] andreas83 commented on #1
Aber irgendwie wäre es von der Funktionalität das richtige...
Wollte es ja ursprünglich in die firefox und chrome extension integrieren, letzteres funktioniert übrigends jetzt auch mit der neuen API.
Ich werd mal recherchieren ob und wann IE die notification api implementiert, mit Chrome, Firefox und Safari sind ja schonmal die wichtigsten da.

[2015-11-05 13:07] chilimatic commented on #1
wenn dir das reicht, aber du wolltest es kommerziell haben und da ist der IE noch immer sehr wichtig :D ich persönlich vernachlässige ihn ja mit viel freude :D

[2015-11-05 14:19] andreas83 commented on #1
Die nächste Frage die ich mir stelle, sockets mit php ja nein alternativen -

[2015-11-05 14:27] chilimatic commented on #1
php: https://github.com/reactphp/react
node: socket.io
go: https://github.com/googollee/go-socket.io
python: kA ist eine lib _gg_

das sind mal die sprachen und pakete die ich kenn / kann ansonsten fällt mir grad nix ein.

[2015-11-07 10:52] andreas83 opened #20 "Hook / Slot System"
We properly need a hook / slot system.
This can be useful for extension programming, think about do something before/after a method is called.

Something like
$obj->addHook((obj)$user, "save", (obj)$plugin, "sendmail");

This triggers the method "sendmail" from Object $plugin,
while the save method from $user object is called.

Open Questions:
1. How to handle parameters.
2. Option for pre / after

[2015-11-07 12:50] chilimatic commented on #20
hmm es würd sich ein stack / queue system für das exekutionshandling anbieten. Es stacked events in 3 verschiedenen arrays (index basierende hashmap) wobei ich auf der index position eine SPLObjectstorage einfügen würde als "stack" da die \SPLObjectstorage automatisch nur objekte 1 mal drin zulässt. kann man allerdings auch mit einer doublelinkedlist oder mit dem klassischem array lösen.

[code]

[2015-11-09 08:13] andreas83 commented on #1
Okay basic notifications via websockets now working!
But there is a drawback, right now the getNotifications method only called once the user visits the page.

# TODO

Notify user on new event (i.e. comment) without reasking the server over and over again.

## Steps

1.) Notifiy websocket server (app/server) about new event (i.e. comment )
2.) Notifiy $user about this event ($socket->send($user, $

[2015-11-09 14:01] chilimatic commented on #1
hmm ich hab mal bissi am code kommentiert generell find ich ihn okay, ich muss allerdings vortrag vorbereiten sonst würd ich bissi rum experimentieren und dir feedback geben. wenn du bis nächste woche warten kannst, da sollt ich wieder wirklich zeit haben mir das anzusehen, ich hab's nur mal überflogen.

[2015-12-16 21:27] Phumix opened #22 "Server error 500"
Getting error 500 on http://www.dasmerkendienie.com/hash/test and when I try to install it on my own server. What could be wrong?

[2015-12-16 22:03] chilimatic commented on #22
there is no test hash and the datacontroller tries to perform an operation on a "non object" which causes a fatal error if you're not using php7. That's just and educated guess but open the app/controller/DataController.php on line 257 and add "if ($res)" around

[code]

please let me know if the guess was right ;) i havent installed it atm.

[2015-12-17 08:38] andreas83 commented on #22
issue should be fixed now, @chilimatic was right, we try to count the popularity of each hashtags, but
at this point the hashtag #test did not exist.

please test latest revision and let me know if the issue can be closed.

[2015-12-17 08:57] chilimatic commented on #22
cool thx for the info:)

[2015-12-17 10:44] Phumix opened #23 "Report post & basic admin panel"
Might be useful to add a basic function that allows users to report posts, and then have some sort of a admin panel where you can review these reports and either delete the post or keep it.

[2015-12-17 13:04] andreas83 commented on #23
is already planed and will be added to our next release cycle.

[2015-12-18 08:18] #22 closed, assigned to andreas83

[2015-12-18 08:27] andreas83 commented on #5
now we have random cat images there as example implementation.
(of cause we can use other hashtags to, also the amount and order can be configred by getNext() metod)

[2015-12-18 08:27] #5 closed, assigned to nobody

[2015-12-18 08:32] andreas83 opened #24 "add @todo tags"
we need a overview which part of the application needs to be refactored.
i already added @todo tags with my thoughts, please share your idea with me too.
the goal is to improve code readability, so it will be much easier for other to contribute, to maintain, extend and so on. There are plenty of other [code smells](https://en.wikipedia.org/wiki/Code_smell), please help me to reduce them.

[2015-12-19 16:19] andreas83 commented on #24
@chilimatic @besn some input about code readability and improvements would be very helpful!
you can comment here or directly inside sourcecode via @todo tags.
 :heart_eyes:  your thoughts are highly appreciated!

[2015-12-20 11:24] andreas83 commented on #24
splitted quite a lot function into smaller chunks:
9c4c50890f3a13612c6ee433a9717145b3e329f7

[2015-12-26 02:09] Phumix opened #25 "Plaintext"
Not sure if you are aware of it but .cfg files are readable in the browser, it is therefore possible to read the config files in app\config. Might be a bad idea since passwords are stored there.

[2015-12-26 09:53] chilimatic commented on #25
hmmm so in the end we need a location tag for /apps/config but in the end this is more of a http server configuration issue. we could us a filematch as well and ignore .cfg files.

[2015-12-28 11:35] andreas83 commented on #25
one solution could be to store the configs and other libs outside document root.
or as @chilimatic mentioned we could block the remote access via webserver configuration.

[2015-12-28 11:56] chilimatic commented on #25
I would do it via the webserver. but it depends on the "architecture" and the level of security you wanna implement.

if you use a CGI you could allow only the static files to be in the group of the http server and remove the read and execution permission but there are so many ways to solve this.

"Good Ones" with open_basedir and apparmor need some deeper knowledge of the OS.

For the regular cas

[2015-12-28 14:21] andreas83 commented on #25
i vote for the .htaccess way too, since its the most convenience way, also because moving configs and other parts outside of document root involves far more changes.

[2015-12-29 03:44] andreas83 commented on #25
i added a line to .htaccess which blocks remote access to app/config/*

[2015-12-29 03:44] #25 closed, assigned to nobody

[2015-12-29 03:47] andreas83 commented on #3
http://dasmerkendienie.com/help/

Done

[2015-12-29 03:47] #3 closed, assigned to nobody

[2015-12-29 04:40] andreas83 opened #26 "admin panel aka automated generic backend"
We need an admin panel, with at least minimum generic functions like create, read, update, delete.
I do not plan to create a separate controller, template for each model, instead i would love
to generate the admin panel from meta data.
in example we could use doc code inside the model to describe the data other frameworks use config array or yaml
## What we need to generate an admin panel
1. Authe

[2015-12-29 14:13] andreas83 commented on #26
Some more toughs:
we need a way to configure which properties of each model are:

1.) searchable
2.) editable
3.) visible at all

Also pre/after hooks are necessary.

[2015-12-29 14:17] andreas83 commented on #24
Still searching for more idea to improve code quality and readability.
@chilimatic idea about a output dispatcher will be implemented pretty soon.
please let me know if you like to see some other improvements too.

[2015-12-29 14:41] Phumix commented on #25
If demo was updated, it's still possible to download the files. www.dasmerkendienie.com/app/config/main.cfg

[2016-01-02 00:50] andreas83 commented on #25
demo was updated but runs nginx so my .htaccess / mod rewrite hack does not have any effect :clap:
i added following line to nginx server config, now all requests should return a 403 Forbidden.

[code]

[2016-01-02 12:00] chilimatic commented on #25
htaccess does not work on nginx it's about the directory parsing which slows it down.
but the common user still uses LAMP with apache that's why the htaccess still should remain.

[2016-01-04 22:34] andreas83 commented on #19
found a soloution :+1:

[2016-01-04 22:34] #19 closed, assigned to nobody

[2016-01-05 01:38] andreas83 commented on #23
We have now a basic admin panel.
At least you can create, update, delete various models like User, Content, Comments etc.
Next challenge will be to have other input fields than text and a way to
configure special behavior like (password=>hash, date=>calendar)
but this will be handled in #26
I will leave this ticket open until the other request (report posts) is implemented.

[2016-01-12 21:47] chilimatic commented on #24
i believe I will join @coding within the next 3 Weeks for at least 3-4 hours a week (as you know I have my own pet projects I want to attend as well) :)

[2016-01-18 20:52] ulamnet opened #27 "How to install"
Hello , how to install this script in my site?

[2016-01-19 09:47] andreas83 commented on #27
We will write a documentation very soon, for now i hope these 3 steps will guide you through...

# Instalation

## Download the Sourcecode

Via GIT:
git clone https://github.com/andreas83/SocialNetwork.git

Via Download:
https://github.com/andreas83/SocialNetwork/archive/andrea.zip

## Configuration

you can adjust the db credentials in app/config/main.cfg
[code]
You will find the database.sql fil

[2016-01-19 11:24] ulamnet commented on #27
Thanks for this helpin but my site like this ;
![likethis](https://cloud.githubusercontent.com/assets/583003/12417327/fb0c35f4-beaf-11e5-816a-5ef88170e296.PNG)

[2016-01-19 11:27] ulamnet commented on #27
and this error in phpmyadmin . when ı install database.sql
![sqlerror](https://cloud.githubusercontent.com/assets/583003/12417374/5e3cb856-beb0-11e5-92fa-e413244101a8.PNG)

[2016-01-19 13:00] andreas83 commented on #27
7341684409eed2ac1e87c3cd904a71fb6a6df243 database.sql should work now

[2016-01-19 14:17] ulamnet commented on #27
still my web page some error . here ; http://gifa.ga/test/

[2016-01-19 14:36] andreas83 commented on #27
I forgot, following directory must be writeable by webserver: public/css/scss/
on some webserver this can be done by:
```sudo chown www-data:www-data public/css/scss/```

[2016-01-19 15:12] andreas83 commented on #27
i never tried to run it on a sub directory, you properly need to add following line in header.php

```<base href="http://gifa.ga/test/" />```

[2016-01-19 15:26] ulamnet commented on #27
okay now working in www.gifme.ga but when ı share youtube videos not showing . and when photo sharing getting this error :

Warning: move_uploaded_file(/home/lissi/tmp/dmdn/trunk/public/upload/569e555ca25733.48503242_gif1.PNG): failed to open stream: No such file or directory in /home/gifme/public_html/app/controller/DataController.php on line 279

Warning: move_uploaded_file(): Unable to move '/t

[2016-01-19 15:49] andreas83 commented on #27
the reason for the upload error is properly this line from app/config/main.cfg
dir="/home/lissi/tmp/dmdn/trunk";

@youtube issue, looks like there is more than just the youtube issue.
because text is not displayed at all..
can you confirm that its saved inside Content table ?

[2016-01-19 15:56] ulamnet commented on #27
yes save , but nothing changes ... How to fix ?

[2016-01-19 16:38] andreas83 commented on #27
the question was, is you Content table empty or not?

[2016-01-19 16:43] ulamnet commented on #27
not .

[2016-01-19 17:27] andreas83 commented on #27
whats inside your error logs ?

[2016-01-19 19:41] Phumix commented on #27
What would case this error "Disconected from notification server"? It's displayed to right under the "Fork me on Github" text. I see he has that error.

[2016-01-19 19:51] chilimatic commented on #27
I guess you have to run this
https://github.com/andreas83/SocialNetwork/blob/andrea/app/server/runnotificationServer.php

"php <path_to_your_checkout>/app/server/runnotificationServer.php &" in the console :)
this should create a "notification-service" which listenes on port 9000.

But I don't have it installed, I just read the code :)

[2016-01-19 20:01] Phumix commented on #27
I just tried this, still getting same error.

[2016-01-19 20:12] chilimatic commented on #27
what does "netstat -lnp | grep 9000" return ?
if there is no open 9000 port or another service is using port 9000 you should try to use
"php /app/server/runnotificationServer.php" so you can see if there is a php error happening :)

[2016-01-19 20:17] Phumix commented on #27
netstat -lnp | grep 9000
    tcp        0      0 0.0.0.0:9000            0.0.0.0:*               LISTEN      5486/php

Port 9000 is open

[2016-01-19 20:26] chilimatic commented on #27
hmmm well now I have to guess, you could check the JS code and intercept the notification API with a console.log() but tbh, I would have to install it. If you can wait till tomorrow I will try to reproduce your error and finde a solution.

In the meantime you could give me your browser + OS + Version so I can create a propper testcase :)

[2016-01-19 20:29] Phumix commented on #27
Running Windows 10 and I've tested it in Chrome 47.0.2526.111. Also tested with Mozilla Firefox 43.0.4.

[2016-01-19 20:33] chilimatic commented on #27
@Phumix cool, thx ! :) In this case it's not likely to be a client issue since both implement the notification API. But still I have to test it myself since I'm just guessing here :)

@andreas83 I will create a phing script which should create the correct permissions and structures

[2016-01-20 09:11] andreas83 commented on #27
@chilimatic thx !!

the trouble with the notification service is thise line:
```var host = "ws://127.0.0.1:9000/notification"; // SET THIS TO YOUR SERVER```

this must be set in public/js/main.js  we should move this to app/config/main.cfg

still i like the idea of the phing script!!

[2016-01-22 21:25] Phumix commented on #27
The new update has errors, notification thing says this now:

    SyntaxError: Failed to construct 'WebSocket': The URL '' is invalid.

[2016-01-23 04:06] andreas83 commented on #27
whats inside your main.cfg ?
[code]

[2016-01-23 18:29] Phumix commented on #27
@andreas83
This part? I didn't touch that, it looked fine

    # Please point this to your Notification server
    notification_server="ws://127.0.0.1:9000/notification";

[2016-01-23 22:11] andreas83 commented on #27
@Phumix
i assume the error is from js ?
in theory the variable "notification_server" from main.cfg should be rendered in
app/template/footer.php and than is used by
public/js/main.js
```socket = new WebSocket(notification_server);```

please make sure the variable is declared in main.cfg and rendered in footer like this:
[code]

[2016-01-24 21:14] Phumix commented on #27
@andreas83 I've solved the syntax error. However I am still getting the "Disconected from notification server" error. I've ran "php app/server/runnotificationServer.php" and the port shows as online when I check with example http://www.yougetsignal.com/tools/open-ports/. So basically, how I see it. It's unable to make a connection between the script and the open port.

[2016-01-25 22:10] andreas83 commented on #27
is maybe a stupid question, but did you try to change the notification servers ip to the public ip ?

[2016-01-26 11:35] Phumix commented on #27
@andreas83 Of course, and there is no stupid questions.

[2016-01-26 12:02] andreas83 commented on #27
Can you etablish a connection to your websocket server via this tool:
http://www.websocket.org/echo.html

[2016-01-27 22:28] Phumix commented on #27
@andreas83 It says connected when I do so.

[2016-01-30 23:02] andreas83 commented on #27
@Phumix

so the error must be eigther in public/js/main.js where we connect to the socket server
`            socket = new WebSocket(notification_server);
`

or in app/template/footer.php where we set the notification_url from config (app/config/main.cfg)
`
echo "<script>var notification_server=\"".Config::get("notification_server")."\";  </script>";
`

[2016-02-06 01:56] andreas83 commented on #27
i think the main issue "how to install"  is resolved.
if the  issue with the notification server persist, please open a dedicated issue.

[2016-02-06 01:56] #27 closed

[2016-02-06 02:03] andreas83 commented on #24
i started to remove quite a lot of external dependencies and moved them to composer
altoroute, scssphp and also frontend libs like jquery, bootstrap and highlightjs
are now handled by composer.

right now you can clone the project and load dependecies by composer install
but if you try via composer require movingbytes/social-network you will get an error
like
`Could not find package movingbytes/so

[2016-02-08 12:19] Phumix opened #29 "Reset password function"
Would be useful to have a reset password function, I pretty much forgot my password on the demo and thought of it from that.

[2016-02-08 21:38] andreas83 commented on #29
Your feedback is highly appreciated.
Password forgotten function implemented.

[2016-02-09 19:32] andreas83 commented on #8
still like the idea of a build script, thats the reason why i created my first composer.json file...
would love to chat about the pro/con of the different approaches, so just drop me a line if you have some time

[2016-02-12 20:58] Phumix commented on #29
Awesome, but maybe you should send a link out once someone requests their password changed. Then when they click on that it will reset. Right now it's possible to reset anyones password.

[2016-02-12 22:17] andreas83 commented on #29
I will try to improve the process, thx for your feedback

[2016-02-19 15:54] andreas83 commented on #29
okay, now we have a new pw reset process.
1.) user gets a mail with confirmation url.
2.) password will be send to user after confirmation url is clicked.
3.) user can change random generated pw via settings...

[2016-02-21 02:23] Phumix commented on #29
It doesn't send the generated password after clicking on the confirm link.

[2016-02-21 15:58] sabanb opened #30 "admin planen login"
Hol to Logins to admin panel?

[2016-02-21 16:10] sabanb commented on #26
Please help me how to login to admin admin panel

[2016-02-21 17:04] andreas83 commented on #30
Just point your browser to http://url/backend/
make sure the user have the isAdmin flag set.
Please note, the admin panel is a work in progress and not ready for production use.
I will close this issue, because the admin panel is already coverd by Ticket #26

[2016-02-21 17:04] #30 closed, assigned to nobody

[2016-02-21 17:19] BiHServer opened #31 "upload Images Not work"
Hello, upload avatar Work fine, only Problem With post images please help

[2016-02-21 17:22] andreas83 commented on #31
fixed it

[2016-02-21 17:22] andreas83 commented on #31
please git pull latest version and try again :)

[2016-02-21 17:23] andreas83 commented on #29
i tried just one time and it worked ...  let me try it again ..

[2016-02-21 17:27] BiHServer commented on #31
Thank You work fine :)

[2016-02-21 18:47] Phumix commented on #29
It was the demo I tried on.

[2016-02-21 19:14] andreas83 commented on #31
your input is always welcome !

[2016-02-21 19:14] #31 closed, assigned to nobody

[2016-02-22 13:39] andreas83 commented on #29
demo works for me, but i noticed that mails came from noreplay@example.com.
so for sure some mail server will block this "example.com" domain.

[2016-02-22 14:20] Phumix commented on #29
But that should work as long as the sender e-mail exists? I get the reset request from noreplay@dasmkerendienie.com, but nothing when I click reset. Does it send from same e-mail?

[2016-02-22 14:50] andreas83 commented on #29
i just changed the from part.

[2016-02-22 16:14] BiHServer opened #32 "Blank Post"
Hello, ist this bug?
Get With 0 Charakter Posting....

[2016-02-22 16:33] andreas83 commented on #32
yepp will fix it soon

[2016-02-22 17:34] Phumix commented on #32
Also posting empty posts is possible. Makes it easy to spam by clicking the post button over and over.

[2016-02-22 17:36] Phumix commented on #29
Here's the link, http://www.dasmerkendienie.com/user/password/reset/65d2ea03425887a717c435081cfc5dbb/

[2016-02-22 18:13] andreas83 commented on #32
fixed!

[2016-02-22 18:13] #32 closed, assigned to nobody

[2016-02-22 19:20] andreas83 commented on #29
mhm still looks like its a mailserver problem
`(host smtp.getontheweb.com[66.36.236.47] said: 451 qq read error (#4.3.0) (in reply to end of DATA command))`

[2016-02-22 19:27] Phumix commented on #29
That's weird, since it sends the first e-mail.

[2016-02-22 23:18] andreas83 commented on #23
Report function added!

[2016-02-22 23:18] #23 closed, assigned to nobody

[2016-02-24 08:03] andreas83 commented on #24
Next i like to focus on JavaScript refactoring.

Some Goals are:
- take advantage of webpack or/and browserify or/and bower
- port stuff from main.js to react
- i also like to reuse the new post component for editing stuff (right now its a complete separate functionality)

@chilimatic @besn @neuron303  and all others, your input is highly appreciated too !

[2016-02-24 17:57] BiHServer opened #33 "Blank Post"
I have latest Version online and blank Post is now bug.

[2016-02-24 18:26] andreas83 commented on #33
sorry i don't understand, what do you mean by "blank Post is now bug"?

[2016-02-24 18:29] BiHServer commented on #33
Sorry, ich habe ein post auf meinem web ohne worte ohne bild.... aber jetz ist alles ok

[2016-02-25 08:33] #33 closed, assigned to nobody

[2016-02-25 16:13] andreas83 commented on #29
@besn any clue whats going on here ?

[2016-02-25 19:35] besn commented on #29
I checked my mail.log and it looks to me like some sort of temporary black- or greylisting.

In between the 451 errors i see lots of timeouts to the same server but the mails get delivered eventually. The "qq read error" doesn't help me much because it seems to be some generic qmail error which might be related a configuration error (unlikely), to a virus-scanner or greylisting.

[2016-02-25 19:47] andreas83 commented on #29
first of all, the issue itself "password reset" is solved in my opinion!
but i noticed that the password reset mail was flagged as spam.
one of the reason was, i tried to send a html mail without html opening tag.
i solved this issue already, but still its quite confusing that the first mail gets out, but not the
second one....

[2016-02-25 19:49] besn commented on #29
a broken html mail might upset some spamfilter and could explain why the server refused to accept the message (and probably blocked the server for some time)

[2016-02-25 19:50] andreas83 commented on #29
we could try to send multipart mails, maybe mail gets more trustworthy, while there is a plain text part...

[2016-02-25 19:51] besn commented on #29
depending on the spamfilter it might be more happy with a multipart mail then a pure html mail

[2016-02-25 20:57] andreas83 commented on #29
okay, i added multi part mails, now  spamassassin gives me a score of 0, which is pretty good!

[2016-02-26 06:36] ulamnet opened #34 "No such file or directory in"
Hello , ı some get this error ;

Warning: include_once(vendor/autoload.php): failed to open stream: No such file or directory in /home/kimmoda/public_html/init.php on line 6

Warning: include_once(): Failed opening 'vendor/autoload.php' for inclusion (include_path='.:/usr/lib/php:/usr/local/lib/php') in /home/kimmoda/public_html/init.php on line 6

Fatal error: Class 'AltoRouter' not found in /hom

[2016-02-26 06:42] chilimatic commented on #34
You need to run composer. :)

[2016-02-26 06:44] ulamnet commented on #34
sorry, my bad english. I dont understand.Please clear tell me ?

[2016-02-26 07:03] chilimatic commented on #34
Ahh i see.
Composer is an dependencymanagemt programm. You can download it at :http://getcomposer.org

I asume you wont create a symlink to /usr/bin/ but use it as a normal phar

You need to copy it into the installation folder of the website (NOT the web folder) than you need to make sure it has the executionflag chmod +x composer.phar.

Next you just have to type php composer.phar install and it

[2016-02-26 08:02] andreas83 commented on #34
i learn spanish, so if it helps, i could try to translate :)

[2016-02-26 08:40] ulamnet commented on #34
thanks :) but ı speak turkish :)

[2016-02-26 08:59] andreas83 commented on #34
maybe this helps:
http://kulekci.net/php-the-right-way/#bagimlilik_dependency_yonetimi

[2016-02-26 21:44] andreas83 commented on #34
1.) install composer
https://getcomposer.org/download/
2.) now install the missing dependencies via comand line:
`cd SocialNetwork;
composer install`

hope it helps, if you need futher support, just let me know.

[2016-02-26 21:44] #34 closed

[2016-02-27 18:56] andreas83 opened #35 "mentions @me and #hashtag autocompleter"
would be cool, if someone like to help me implementing a fb and twitter like mention box.

useful resources:
http://yuku-t.com/jquery-textcomplete/

[2016-02-27 22:19] andreas83 commented on #24
textarea aka share box with preview is now a react component.
hopefully there is a way to reuse this component for editing posts.

[2016-02-28 10:55] Phumix commented on #29
We out of ideas? I just tried to reset password for two different email addresses, @yahoo.com and @hotmail.com. None of them worked, it actually didn't reset the password at all. So I believe there is something wrong with the part where it generates a new password. Because I was able to login with the old password and I am still able to do that even after confirming.

[2016-02-28 10:58] Phumix commented on #35
then we should implement this #1  as well, so the mentions comes up as notifications

[2016-02-28 22:27] andreas83 commented on #29
that s weird, because it works on my test account ...
maybe it needs some further investigations!

You got the confirmation mail right ?
And after clicking on the confirmation link, no second email came  ?
Also you are still able to login with old password, after clicking the confirmation link  ?

[2016-02-28 22:30] Phumix commented on #29
Yes, I received confirm mail and I confirmed it. Then I received no second mail, but was still able to login with old password.

[2016-02-28 22:37] Phumix commented on #29
Also figured the confirm url doesn't expire when its clicked. It keeps using same link in every email

[2016-02-28 23:30] andreas83 commented on #29
@Phumix  mhm i can at least explain why the link does not change...

[2016-02-29 10:32] Phumix commented on #29
@andreas83 oh?

[2016-03-01 22:29] andreas83 commented on #35
task done, also with notifications for people who get mentions @Phumix  @besn

[2016-03-01 22:29] #35 closed, assigned to nobody

[2016-03-02 12:26] andreas83 commented on #29
Good news, i found the cause and solution.
`$user->api_key = md5($_POST['nick']+date("Y-m-d H:i:s"));`
new users got always the same api key due wrong string concating ...

i fixed it already in andrea, but need to recreate the api key on demo ...

[2016-03-02 17:39] andreas83 commented on #29
okay i just reset all api keys.
@Phumix please, try to reset your password again

[2016-03-02 21:41] #29 closed, assigned to nobody

[2016-03-02 21:57] andreas83 opened #36 "Groups"
would be cool to create, manage groups plus invite users to group...
maybe a permission system is required too.

[2016-03-02 22:03] andreas83 commented on #9
back to topic again, i like to evaluate https://phinx.org/

[2016-03-02 23:55] ulamnet commented on #34
I install composer sucessfully , but when work comand line something wrong.

[2016-03-03 00:27] ulamnet commented on #34
ah okay, now working fine , thanks.

[2016-03-03 00:37] ulamnet opened #37 "Fatal error:"
Hey , it's me again :)

ı get this error ;

Fatal error: Uncaught exception 'PDOException' with message 'invalid data source name' in /home/kimmoda/public_html/app/lib/database/dbpdo.php:20 Stack trace: 0 /home/kimmoda/public_html/app/lib/database/dbpdo.php(20): PDO->__construct('localhost;dbnam...', 'kimmoda\x1F_4', '23jemreulam', Array) 1 /home/kimmoda/public_html/app/lib/database/dbhandler.php(

[2016-03-03 00:43] ulamnet commented on #37
try my site ı m not sharing any

http://kimmoda.com/

[2016-03-03 07:37] andreas83 commented on #37
your site "kimmoda.com" is working for me...
does this "bug" still affects you, are is it solved ?

[2016-03-03 07:39] ulamnet commented on #37
after photo share get this error ;

Warning: move_uploaded_file(/home/lissi/tmp/dmdn/trunk/public/upload/56d7e9f782cea9.69755455_giphy.gif): failed to open stream: No such file or directory in /home/kimmoda/public_html/app/controller/DataController.php on line 336

Warning: move_uploaded_file(): Unable to move '/tmp/phpxXvw5f' to '/home/lissi/tmp/dmdn/trunk/public/upload/56d7e9f782cea9.69755455_gi

[2016-03-03 08:34] andreas83 commented on #37
you need to modify the upload path
replace this
`dir="/home/lissi/tmp/dmdn/trunk";`
with
`dir="/home/kimmoda/public_html";`

also make sure that /home/kimmoda/public_html/public/upload is writeable by webserver

depending on your system this can be done by:

`sudo chown www-data:www-data -R /home/kimmoda/public_html/public/upload`

[2016-03-03 08:40] ulamnet commented on #37
now ı get this error .s

Warning: Creating default object from empty value in /home/kimmoda/public_html/app/controller/DataController.php on line 338

Warning: Creating default object from empty value in /home/kimmoda/public_html/app/controller/DataController.php on line 342

Warning: Cannot modify header information - headers already sent by (output started at /home/kimmoda/public_html/app/contro

[2016-03-03 11:09] ulamnet commented on #37
images sucessfull upload , but before uploading get this error :

Warning: Creating default object from empty value in /home/kimmoda/public_html/app/controller/DataController.php on line 338

Warning: Creating default object from empty value in /home/kimmoda/public_html/app/controller/DataController.php on line 342

Warning: Cannot modify header information - headers already sent by (output starte

[2016-03-03 13:57] Phumix opened #38 "Upload any file"
I figured it's possible to upload any file as avatar/upload any file on posting. This means .html files can be uploaded and used. I tried to upload a PHP file to test if that worked but it didn't. Which is good.

Anyways, restrict avatar uploads to only jpg, jpeg, png and bmp extension?

[2016-03-03 14:17] andreas83 commented on #38
thanks for your valuable feedback !

[2016-03-03 14:34] andreas83 commented on #38
fixed, please test

[2016-03-03 14:34] #38 closed, assigned to andreas83

[2016-03-03 16:40] ulamnet commented on #37
are you there?

[2016-03-03 16:54] andreas83 commented on #37
yep, looks like a bug, i will fix it as soon as i can.

[2016-03-03 16:57] ulamnet commented on #37
okay, thanks for reply.

[2016-03-03 16:58] andreas83 commented on #37
okay fixed, please checkout and test

[2016-03-03 16:59] ulamnet commented on #37
where is the fixed ı dont see

[2016-03-03 16:59] andreas83 commented on #37
4335458d0bf30cddd0c910f870b9cca85f41384d

[2016-03-03 17:02] ulamnet commented on #37
Warning: Creating default object from empty value in /home/kimmoda/public_html/app/controller/DataController.php on line 327

Warning: Cannot modify header information - headers already sent by (output started at /home/kimmoda/public_html/app/controller/DataController.php:327) in /home/kimmoda/public_html/app/lib/BaseController.php on line 75

[2016-03-03 17:37] andreas83 commented on #37
please let me know which url did you try to share ?

[2016-03-03 17:41] ulamnet commented on #37
http://kimmoda.com/

[2016-03-03 17:52] andreas83 commented on #37
mhm strange, try to pull latest changes again.
if the bug still exists, please write me the exact steps to reproduce it.

thx

[2016-03-03 18:15] ulamnet commented on #37
I try your saying , but now get this error ;
Fatal error: Can't use function return value in write context in /home/kimmoda/public_html/app/controller/DataController.php on line 271

[2016-03-03 20:13] ulamnet commented on #37
Are you there?

[2016-03-03 20:22] andreas83 commented on #37
jepp iam here.
whats on line 271 ?
i just wonder, because i dont get these error...

[2016-03-03 20:24] andreas83 commented on #37
sry now i get the same error on prod envir .... strange

[2016-03-03 20:31] andreas83 commented on #37
this line cause the error..
`isset($_POST['metadata']) && empty(json_decode($_POST['metadata']))`
for some strange reasons, only on prod and your system, this line
works pretty fine on my local dev enviroment ....
@besn @chilimatic any hints?

[2016-03-03 20:40] andreas83 commented on #37
found the cause:

via https://beeznest.wordpress.com/2014/09/26/cant-use-function-return-value-in-write-context/

[2016-03-03 20:42] andreas83 commented on #37
okay fixed, please test again

[2016-03-03 21:07] ulamnet commented on #37
I tested my friend but still this error :(

Warning: Creating default object from empty value in /home/kimmoda/public_html/app/controller/DataController.php on line 324

Warning: Cannot modify header information - headers already sent by (output started at /home/kimmoda/public_html/app/controller/DataController.php:324) in /home/kimmoda/public_html/app/lib/BaseController.php on line 75

http://kim

[2016-03-03 21:12] ulamnet commented on #37
and after uploading any share , not showing in site.

[2016-03-03 21:52] chilimatic commented on #37
@andreas83 this is just the typecast warning which causes the http headers to be sent early.
            if (isset($metadata->type) && $metadata->type == "www") {
               $metadata=(object)($this->og_parser($metadata->url));
            }
just add the stfu operator @ before it or add the check :D

[2016-03-03 22:12] andreas83 commented on #37
not sure if its the typecasting, since the warning happens on 324
which is the if statement itself...

[2016-03-03 22:16] chilimatic commented on #37
ahh misread the line, thx :) so $metadata= NULL; -> $metadata = new stdClass() ? :)

[2016-03-03 22:26] andreas83 commented on #37
for me this make no sense at all.
$metadata is either NULL or an object....
with error reporting on, this does not create any warning..

`$test=NULL;

if(isset($test) && $test->x=="y")
{
        echo "foobar";
}`

[2016-03-03 22:29] andreas83 commented on #37
sorry guys, but i have to go now.
since i will be in Germany for a couple of days, i will not be able to support you until Tuesday!

[2016-03-03 22:51] chilimatic commented on #37
maybe its php version related ? dunno :) hf see u next week :)

[2016-03-08 10:56] ulamnet commented on #37
@andreas83 are you there ? :)

[2016-03-08 22:49] andreas83 commented on #37
yepp just arrived today, lets track this error down ;)

[2016-03-09 07:03] ulamnet commented on #37
sorry , ı don't understand.

[2016-03-09 17:11] andreas83 commented on #37
@ulamnet  which php version are you running ?

[2016-03-09 17:12] andreas83 commented on #37
@ulamnet if possible, you could send me the server credentials (login) and i try to fix on your webserver.

[2016-03-09 17:47] ulamnet commented on #37
yes its possible , but how to send?

[2016-03-09 21:04] andreas83 commented on #37
just send it to andreas at moving-bytes.at

[2016-03-11 11:50] andreas83 commented on #37
@ulamnet still waiting for your credentials

[2016-03-11 15:29] ulamnet commented on #37
sorry , you can write your mail adress ? I send login credentials with mail

[2016-03-12 23:39] andreas83 commented on #37
i did already ...   andreas@moving-bytes.at

[2016-03-13 15:00] andreas83 opened #39 "Order data by score"
I like to order the Post by Score (on a daily basis)

What i did so far,
`select Content.id,  count(Score.id) as score from Content left join Score on Content.id=Score.content_id  group by Content.id order by DATE(from_unixtime(Content.date)), score asc`

This works pretty well, until i fetch some more data via limit offset...

**Database Table Score**

[code]

Maybe it makes sense to pre count th

[2016-03-13 19:53] chilimatic commented on #39
I think about a view that stores the score and btree indexes in that view for faster ordering. So the normal post inserts wont be affected.

this is just top of my head I would need to spend time looking at the model an experiment with it.

[2016-03-13 20:50] ulamnet commented on #37
Okay , ı send.

[2016-03-13 21:58] andreas83 commented on #39
my final query looks like this
`SELECT *, count(Score.id) as score, Content.id AS id, User.id as user_id FROM Content INNER JOIN User on Content.user_id=User.id LEFT JOIN Score on Content.id=Score.content_id WHERE Content.id < 1000000000 group by Content.id order by DATE(from_unixtime(Content.date)) desc, score desc, Content.id desc`

I will upload the soloution to demo and make some performance b

[2016-03-13 22:19] chilimatic commented on #39
coool :) i hope I got time tomorrow and have a look at it :) I was working till 5 minutes ago :)

[2016-03-13 22:48] andreas83 commented on #39
i'm curious to see some performance benchmarks view vs left join, vs own column...

[2016-03-14 00:14] ulamnet commented on #37
@andreas83 are you there?

[2016-03-14 14:56] andreas83 commented on #37
@ulamnet yep iam here, its fixed :)  thanks for reporting

[2016-03-14 14:56] #37 closed

[2016-03-14 15:13] ulamnet opened #40 "backend"
Hello , how to login backend ? I know url/backend/ but what is mail and password?

Thanks.

[2016-03-14 15:31] andreas83 commented on #40
mhm good question!
Right now we do not have any default admin user,
So you can have to set the isAdmin flag in mysql table User to your registered existing user.
After that you can just can login via url/backend.

Please keep in mind that the admin/backend is a work in progress.

[2016-03-14 15:33] ulamnet commented on #40
okay ,  I understand , thanks :)

[2016-03-14 15:37] ulamnet opened #41 "Problem : Hastag page"
I have a problem ; http://callme.ga/hash/ANKARAnl%C4%B1k  , there is mybe turkish character problem ? http://callme.ga/public/stream/

[2016-03-14 19:47] andreas83 commented on #41
should be fixed now...
would you be so kind, and test special chars in username too :hamster:

[2016-03-14 19:49] #40 closed

[2016-03-15 14:25] #41 closed

[2016-03-15 15:05] andreas83 commented on #36
duplicated by #4

[2016-03-15 15:05] #36 closed, assigned to nobody

[2016-03-15 16:23] ulamnet opened #42 "video"
Hi , why not show video player in site ? This is not cool :(
![ekran alintisi](https://cloud.githubusercontent.com/assets/583003/13785156/0bd978fe-eadb-11e5-94c7-8176aae63e8b.PNG)

[2016-03-15 16:41] ulamnet opened #43 "timeline"
Hello , why timeline like this ? ı share just now video but my sharing ı see The bottom but ı see 7 minutes sharing ago top. Sorry my bad english again :)

![adsiz](https://cloud.githubusercontent.com/assets/583003/13785782/838bf9ba-eadd-11e5-8f76-b2e179fac428.png)

[2016-03-15 16:42] ulamnet commented on #43
try my site : http://callme.ga/

[2016-03-15 17:30] andreas83 commented on #42
I will try to fix it soon !

[2016-03-15 17:34] andreas83 commented on #43
Because of #39
We sort post by score & date, so if you dont like it, you could remove following line in
app/model/Content.php

[code]

[2016-03-15 19:35] ulamnet commented on #43
not work for me.s

[2016-03-15 21:36] andreas83 commented on #43
mhm since this "feature" is highly confusing, i will remove it soon ...

[2016-03-15 21:38] andreas83 commented on #39
mhm some user reported this feature as a bug, because the were confused by the new ordering ....

e9142c895c16f1e19eb98904df60afeeb226b0f6

[2016-03-15 21:59] andreas83 commented on #43
"fixed"

[2016-03-15 21:59] #43 closed

[2016-03-15 22:27] andreas83 commented on #39
Ordering by score can be interesting for sure, but maybe it makes more sense to order
by activity/popularity. comments, likes, views etc.
So we may end up with a tracking system, which can be useful for understanding the user habits.

:heart: how i make every task overcomplex and nearly impossible to solve.

[2016-03-15 22:40] chilimatic commented on #39
I'm not sure if it's over complex.

I think this article helps to understand that the problem is only really complex using the classic SQL RDBMs .
http://www.cray.com/blog/graph-databases-101/
he really nails the usecase for graph databases and as you will read networks are a specific target.

Then read this :) as an easy kickstarter for a timeline idea :)
http://www.sitepoint.com/efficient-user-t

[2016-03-15 23:56] andreas83 commented on #1
I just fixed my two main issues: 820960d094e3609dcfa7a93a1a6599d210a11ebc
1.) Notifiy websocket server (app/server) about new event (i.e. comment, mentions )
2.) Notifiy $user about this event ($socket->send($user, $msg))

This works pretty well so far, but some other components could benefit from
websocket server too

i.e.
Comments (for updates), Notification about new posts, Chat.

I will addres

[2016-03-15 23:56] #1 closed, assigned to nobody

[2016-03-19 13:47] andreas83 opened #44 "Random button works only on stream page"

[2016-03-19 13:48] andreas83 commented on #26
I think we will move from automatic generated backend to static one, since this will give us more flexibility.

[2016-03-19 13:48] #26 closed, assigned to nobody

[2016-03-19 21:28] andreas83 opened #45 "Mobile - off canvas menu"
Someone have time to create a mobile off canvas menu ?

Example (i lilke side slide):
http://tympanus.net/Development/OffCanvasMenuEffects/

[2016-03-20 08:31] ulamnet opened #46 "new site screen"
Hello , ı just upload a new site but ı see this .

http://siwip.com/
![siwip](https://cloud.githubusercontent.com/assets/583003/13903506/f13c5dc2-ee86-11e5-8758-e76b346e3f27.PNG)

[2016-03-20 08:48] ulamnet commented on #46
I re-upload now working fine.

[2016-03-20 08:48] #46 closed

[2016-03-20 08:50] ulamnet opened #47 "Register page"
Hello , again me :)

but why register page like this?

http://siwip.com/user/register/

![siwip2](https://cloud.githubusercontent.com/assets/583003/13903570/93374c3e-ee89-11e5-9a65-2f9f2c435e89.PNG)

[2016-03-20 12:52] ulamnet commented on #47
are you there @andreas83

[2016-03-20 16:53] andreas83 commented on #47
@ulamnet

1.) please run composer update
2.) check your configuration, try to disable google and facebook auth for testing

; Facebook Auth
facebook_auth=true;
facebook_app_id="";
facebook_app_secret="";

; Google Auth
google_auth=true;
google_app_id="";
google_app_secret="";

[2016-03-20 17:19] ulamnet commented on #47
Ok , now working but without facebook and google login.

[2016-03-20 18:05] andreas83 commented on #47
You need an app id and secret to use this feature:

Get APP ID and Secret from Facebook here:
https://developers.facebook.com

And Google here:
https://cloud.google.com/

[2016-03-20 18:07] #47 closed

[2016-03-20 20:20] andreas83 commented on #4
**Groups**
group_id
parent
name
description
image
scope(public,private)

**User_Group**
group_id
user_id
isAdmin

**Content**
add group_id

[2016-03-21 08:28] Phumix opened #48 "Two accounts on same e-mail"
It's possible to have two or more accounts on same e-mail with different passwords. Check my accounts "merfin" and "martin. I can't really remember how I did it, but I think I just created them on same e-mail.

[2016-03-21 13:41] andreas83 commented on #48
Quite interesting, this should not be possible!
Please let me remove your test accounts: MartinTest && merfin and let me
know if you can reproduce this error !?

[2016-03-21 13:47] Phumix commented on #48
Yes, of course. I had another one but I forgot the username.

[2016-03-21 20:25] andreas83 opened #49 "endless loading on ios safari"

[2016-03-21 21:42] andreas83 commented on #49
done

[2016-03-21 21:42] #49 closed, assigned to nobody

[2016-03-22 06:25] andreas83 commented on #45
Done, maybe the animation can be improved in a second run!

[2016-03-22 06:25] #45 closed, assigned to nobody

[2016-03-22 08:31] andreas83 commented on #2
done, but for sure there is some room for improvements in the next release

[2016-03-22 08:31] #2 closed, assigned to nobody

[2016-03-22 08:33] andreas83 opened #50 "Upload + Mentions"
Right now files with spaces are not available anymore.

would be cool to extend the existing functionality, so we could reuse the filenames for mentions.

example:
hi @besn here is the +filename you requested.

[2016-03-22 22:02] andreas83 commented on #42
fixed

[2016-03-22 22:02] #42 closed

[2016-03-23 15:14] #24 closed, assigned to andreas83

[2016-03-23 15:54] andreas83 opened #51 "Vagrant container"
I think its a good idea to have a docker container.

[2016-03-23 15:57] chilimatic commented on #51
for which component/s ?

[2016-03-23 16:32] andreas83 commented on #51
thought about everything, let us have a quick chat about the pro/con

[2016-03-24 08:41] andreas83 commented on #51
i try to redefine the requirements:

story style:
We need a way to ship the SocialNetwork as Package with all required dependencies (database, webserver,  notification server etc).
Customers should be able to extend and adopt the existing Software, while at the same time we should be able to distribute major updates...
Also another aspect is scalability, which requires separation of each micro ser

[2016-03-24 08:59] andreas83 opened #52 "Auth Cookie"
after login you get an auth cookie/token, this is used for notifications and chat etc.
now this works fine until you authenticate with the same account on another's computer.
then the old auth cookie get invalid and the websocket server dont know who you are anymore.
We could use the session variable to renew the auth cookie/token,

[2016-03-25 21:35] ghost opened #53 "Page system, User details"
Maybe system for creating fan pages would be great, also if user profile could be filled with user details, such as location, bio, work, etc...

[2016-03-25 22:01] andreas83 commented on #53
thanks for your feedback!
i like the idea of having a real profile page!
how could a fan page look like?

[2016-03-25 22:10] ghost commented on #53
Fan page could be similar to Facebook's one. Basic information about page (website, phone, etc..) and timeline of posts made by fan page (its admins). In future there could be a lot more to do - fan page insights, promote post and so on.

[2016-03-25 22:16] andreas83 opened #54 "Searchbar (enter button does not work)"

[2016-03-26 21:28] andreas83 commented on #54
fixed

[2016-03-26 21:28] #54 closed, assigned to nobody

[2016-03-26 21:36] andreas83 opened #55 "Reduce amount of ajax request"
Right now there are two ajax calls for every content element (comment and like), so while scrolling
there are maybe hundreds of requests going on.
I'am quite curios if it feels faster or slower when we switch from many ajax request to just one...

Another alternative could be a general switch to web sockets.

[2016-03-27 00:42] andreas83 opened #56 "Improve open graph parsing"
some websites don't have any opengraph information, so
i try to find the good old meta tags title, keyword, description...
for image i search for the first img tag, which is in most cases the logo.
but the url inside is sometimes, relative or absoloute, sometimes absoloute but without protocol and so on...
so the challenge here is to have better fallback mechanism.

`function og_parser($url){

[co

[2016-03-27 00:52] andreas83 commented on #51
I think for the first part, virtualbox will suite our needs and works pretty well as out of the box solution.
For dependency management and scalability i will open a separate ticket

[2016-03-27 09:27] chilimatic commented on #51
I hope you mean vagrant, not just vbox the provisioning should be like docker, versioned :)
Personally I think it's okay to skip docker atm but I wouldn't just use vbox without a provisioning system.

And more importantly what's the difference between the port/directory mapping problems in virtualbox and docker ? A Virtual-Machine like a normal Machine will still have the same problem Stack.

But

[2016-03-27 14:43] andreas83 commented on #51
Yes i mean vagrant, i will try to create a image now...

[2016-03-27 15:46] andreas83 opened #57 "create integration tests"
at the beginning integration tests for the API would be cool

content
- [ ] post content
- [ ] get content
- [ ] put aka update content
- [ ] delete content

comment
- [ ] post comment
- [ ] get comment

[2016-03-30 09:34] andreas83 commented on #51
okay i failed miserably.
is there someone with more experience with vagrant & puppet?

@besn @chilimatic  ?! anyone ?

[2016-03-30 11:13] chilimatic commented on #51
Vagrant kann ich, puppet hab ich noch ned so viel rumgespielt ich hab nur erfahrung mit stateless agents wie fabric. Also ausser aus user-sicht ich weiß wie die files aussehen :D und wie das system funktioniert :D

@besn du kennst und kannst beides :)

[2016-04-02 11:29] andreas83 opened #59 "Class 'transformer\TransformerFactory' not found"
While trying to share some youtube video ie.
https://youtu.be/yfCt35RTR-U

i got following error:
Fatal error: Class 'transformer\TransformerFactory' not found in /home/lissi/dev/SocialNetwork/app/controller/DataController.php on line 713

@chilimatic its maybe a good time to rewrite the autoloader so it match psr-4 ?

http://www.php-fig.org/psr/psr-4/

[2016-04-02 11:54] chilimatic commented on #59
yes, i can have a look at it in the evening :) unless you wanna do the honours :)

[2016-04-02 23:31] andreas83 commented on #48
is this still an issue ?

[2016-04-02 23:39] andreas83 commented on #59
i was trying to fix this bug on my own but failed miserably :baby_chick:

[2016-04-03 10:38] andreas83 commented on #4
see hashnode as inspiration
https://hashnode.com/nodes

[2016-04-03 22:30] Phumix commented on #48
Yes, it is. I was able to create another account on same e-mail. Check account "mertin". Has same e-mail.

[2016-04-04 14:15] andreas83 commented on #59
thx

[2016-04-04 14:15] #59 closed, assigned to nobody

[2016-04-04 19:01] andreas83 commented on #48
should be fixed for now.

[2016-04-04 21:21] andreas83 opened #61 "Namespace Issues"
new psr-4 autoloading, or to be more specific, the namespace
breaks the existing function from Backend.

Would be cool if there is such thing like:

use SocialNetwork\app\model*

Any idea to solve this issue @chilimatic ?

[2016-04-04 21:32] andreas83 opened #62 "Webm not replaced anymore"
WebVideoTransformer is identical to VimeoTransformer.

[2016-04-04 21:59] andreas83 commented on #62
fixed

[2016-04-04 21:59] #62 closed, assigned to nobody

[2016-04-04 22:13] #48 closed, assigned to nobody

[2016-04-04 22:22] andreas83 commented on #8
Our "working" setup right now is:

**bower for frontend libs**
for bootstrap, jquery, react, fontawesome, highlightjs

**npm for development libs**
bower, gulp, babel etc

**gulp for build automation**

sass, react, compress, icons are working tasks

Next step should be #57  and the phing script which should put all together.

[2016-04-04 22:33] chilimatic commented on #8
my phing repos already supports gulp, bower, selenium, composer, git, curl, behat, grunt, phinx...
so i guess this would be around 20 minutes to compose a phing build.xml

if the frontend related tasks are within the gulp configuration this should be easy going.

the native phing phpunit tasks needs phpunit globally installed (something i don't like because I have many projects with different vers

[2016-04-04 22:34] chilimatic commented on #62
you can close with commits -> so the closing commit is referenced here

[2016-04-04 22:35] chilimatic commented on #61
namespace transformer with the configured namespace injected -> can be done via trait or abstract model should be a 10 minute fix

[2016-04-05 07:44] andreas83 commented on #62
i forgot to reference to ticket while commiting (49165881134d68cbc3a4bc59da0f575a6dabfafb and 110976d30f1a96c0d45ca677450a51cd3b2d37ce)

[2016-04-05 07:49] andreas83 opened #63 "Score does not work"

[2016-04-05 07:53] #63 closed, assigned to nobody

[2016-04-06 18:32] andreas83 commented on #61
would be cool if you can support me here.. @chilimatic

[2016-04-08 07:31] andreas83 commented on #61
for reference 90d25c8889bbd7acce92339fa451666a1be34bb3

[2016-04-08 07:48] andreas83 commented on #61
The generic_list.php creates a relation to another object:
$relation = new $configuration->properties[$propertie]['relation'];

i tried to add the static method but does not work :(
`ModelFactory::make((string)  $configuration->properties[$propertie]['relation']);`

Btw i found that other views also create objects,  and now have now clue about the namespace.
What i learned from this namespace trou

[2016-04-08 07:51] chilimatic commented on #61
:D i agree, and don't forget separation of concerns :)
-> the view should not create models :) it should take a list of models,
if you are concerned about memory a generator, could help if you don't need hash maps

[2016-04-08 07:55] andreas83 commented on #61
so the next release will focus only on unit tests and unit tests and unit tests

100% agree  :+1:

so next release will not only cover unit test, but also seperation of views and models, and unit tests :rabbit:

[2016-04-08 07:55] andreas83 commented on #61
any clue how i could fix the generic lists view in the mean time for presentation ?

[2016-04-08 08:06] andreas83 commented on #57
after we added namespaces and autoloading it turns out, that we can not test the whole application manually anymore. So next release will focus only on Unit Tests!
Main Goal is just testcases for the API, since they isolated by design and cover the important functionality but afterwards testcases for the rest is mandatory.

[2016-04-08 08:52] chilimatic commented on #61
should work now

[2016-04-08 15:33] andreas83 commented on #61
looks good, will close this issue for now!
thx for your good work !

[2016-04-08 15:40] andreas83 commented on #57
Added my first unit test (iam so proud of me)
42067b04413303b770d42bdfd05cd4ee5136841f

Now i need a way to have some test data, while testing.

One idea is, storing a testdatabase.sql file and using it for all api request.
downside: someone have to maintain this file...

other idea:
http://dbv.vizuina.com/
https://phinx.org/

@chilimatic any recommendations ?

[2016-04-08 15:43] andreas83 commented on #51
@besn told me he knows puppet, but cant help us with vagrant ...
so guess, nobody is able to create a proper vagrant container right now.
i will close this ticket for now...

[2016-04-08 15:43] #51 closed, assigned to nobody

[2016-04-08 16:22] chilimatic commented on #51
i can create a proper vagrant container ;) I just don't see the point in vagrant for anything else than development. Basically you run in the port problems so docker does make much more sense esp the overhead :)

but anyway _gg_ close it :D

[2016-04-08 16:40] chilimatic commented on #57
I use phinx :) but it has some issues if you wanna use an auto_increment on a field that's not called "id"

[2016-04-08 17:44] andreas83 commented on #61
i have to reopen this issue, since the notification server have some trouble too

[2016-04-08 17:47] chilimatic commented on #61
error msg ? :)

[2016-04-08 18:59] andreas83 commented on #61
PHP Fatal error:  Class 'WebSocketUser' not found in /home/lissi/dev/SocialNetwork/app/lib/WebSocketServer.php on line 156

[2016-04-08 20:51] #61 closed, assigned to nobody

[2016-05-02 17:42] xoceunder opened #65 "help with code add my json"
jquery
`$(function() {

[code]

});`

my php

`<?php

[code]

[2016-05-03 09:42] andreas83 commented on #65
sorry but this is the wrong issue tracker...
please use :
https://github.com/andreas83/bw

also be more verbose about the problem.
what is the problem,
how can i reproduce it, what did you tried already ?

[2016-05-03 09:42] #65 closed, assigned to nobody

[2016-05-03 10:58] xoceunder commented on #65
and I tried it but it is not real time

[2016-05-03 16:47] xoceunder commented on #65
sorry is he used a translator

[2016-05-03 16:49] xoceunder commented on #65
@andreas83
my code real time http://199.189.86.32:8000/test/

[2016-05-04 05:04] andreas83 commented on #65
for realtime, or to be more precise, a faster refresh rate, you would need a complete different approach...
instead of making a ajax/http request every second, i would recommend using websockets.
but still this is the wrong issue tracker to discuss this topic!!!

[2016-05-04 07:04] chilimatic commented on #65
i think it's hilarious :D
Maybe you should mention that at the time you wrote it websockets weren't fully supported on all browsers and nodejs was a pretty new technology :D .... or in other words it's a really old demo :D

can't you just open a ticket in the other repos and mention him :) so he finds his way :D

[2016-05-04 10:39] xoceunder commented on #65
ok thank you very much and please excuse the inconvenience

[2016-05-04 10:58] chilimatic commented on #65
don't worry just open an issue like "can u make this websocket compatible" https://github.com/andreas83/bw here :D so he can actually track it as a feature request :)

[2016-05-06 08:51] chilimatic commented on #8
#66

[2016-05-08 10:57] andreas83 opened #67 "real one page app"
While developing the new group feature it turned out, that
extending and modifying the existing react structure is extremely inflexible and complex.
in my opinion the main reason is, the missing controller and routing component.
on the long run we should rewrite the structure and add at least some sort of routing
also i need a clean solution for communication between components aka controller.

i

[2016-05-08 11:35] chilimatic commented on #67
react is still not a framework just a view :) just take a full framework :)

[2016-05-08 11:37] andreas83 commented on #67
@chilimatic thanks for pointing out, did not thought about that before. :walking:

[2016-05-08 11:40] chilimatic commented on #67
well you stated the obvious :)

[2016-05-08 11:48] andreas83 opened #68 "new content type featured article"
Right now we have different content types like Video, Upload, WWW, Img, Generic...

I like to add another one: Article.

Required fields:
title
image
description
content (with simple WYSIWYG editor)

and of cause the usual meta information (author, created, modified, comments, likes)

Also we need a new route for this, something like:

/article/title/+id

[2016-05-08 11:54] andreas83 commented on #67
please let me know if you have any recommendation or like to share some thoughts about
angular, redux, flux (insert your awesome js framework here)

when it comes to a rewrite, i would love to drop bootstrap and jquery, since they are to heavy in my opinion. also adding webpack could be an option.

maybe we can discuss this later, do you have some spare time ?

[2016-05-08 14:37] chilimatic commented on #67
hmm afaik redux contains flux and is kind of a state container for react. And Flux is mainly an observer system for unidirectional event propagation. or in not so fancy terms ... it controls the events :D

I like cycle.js but it's reactive and functional so this can be confusing. I would, since you want drive a product not, how you often put it, "reinvent the wheel". go with ember or angular those

[2016-05-09 19:03] andreas83 commented on #67
jquery can be replaced  with zeptojs since is mostly feature complete but much much faster and lighter.

[2016-05-09 19:05] andreas83 commented on #67
i may have to correct myself...
http://zurb.com/article/1293/why-we-dropped-zepto

[2016-05-09 19:14] neuron303 commented on #67
but is zeptojs web scale?

[2016-05-09 19:35] andreas83 commented on #67
If /dev/null is fast in web scale I will use it!

[2016-05-14 22:19] selimanac opened #69 "database.sql faild on line 48"
Which is: modified DATETIME

[code]

[2016-05-16 14:11] chilimatic commented on #69
thx, for the report :)

there is only a colon missing if you want to fix it yourself.

``modified` DATETIME,`

[2016-05-16 18:06] #69 closed, assigned to nobody

[2016-06-02 19:51] #55 closed, assigned to nobody

[2016-06-04 14:51] andreas83 opened #70 "websocket server does not return latest notifications after some time (1-2 hours)"
i send getNotifications to sockets server, with an auth_cookie for authenticaton.
{"action":"getNotifications","auth_cookie":"107ef05dbf5619681a4c252f9d458d95"}

this works pretty well for some time, but after an hour or so, i always get an empty notification array back,
even the token is still valid (inside user table).
restarting the socket server fix this issue....

[2016-06-04 15:09] chilimatic commented on #70
check the mysql timeout and if you "ping/reconnect" php is not ment to have long idle socket connections to the mysql server so the pdo could have closed the connection it would be a classic.

[2016-06-04 17:49] andreas83 commented on #70
@chilimatic thanks sounds very reasonable.
may i reconnect every x minutes from mysql ?

[2016-06-04 18:11] andreas83 commented on #70
mhm this sounds good to me:
http://brady.lucidgene.com/articles/pdo-lost-mysql-connection-error

[2016-06-04 18:12] andreas83 opened #71 "mentions doesn't work anymore"
(since last upgrade)  a2f9cf3013b4c6d1280dbbab31494236b40ea94e

[2016-06-04 18:18] chilimatic commented on #70
i made it conditional "if select 1 does not return a result reconnect" at least thats what i did in my framework pdoadapter :)

[2016-06-04 21:53] andreas83 commented on #70
mhm iam thinking about some sort of connection manager class ...
i still wonder why there is no exception , error etc ...

[2016-06-04 22:20] andreas83 commented on #70
for reference b16840b282d682158b7bc0ac12c21c3ddd4a8579

lets see if it helps :+1:

[2016-06-04 22:31] andreas83 opened #72 "css video on mobile"
this issue starts to annoy me so much..
dunno how often i thought i found the solution, but nope still not working with every resouloutions
compare 4:3 vs 16:9 on mobile. :-1:

[2016-06-04 22:39] chilimatic commented on #70
since php was not built for anything else than the request response model, the stream connection error was not really necessary I guess. maybe they added an exception in php7 but i would have to test it. anyway it's a classic pdo error :) mysqli has the ping method :)

[2016-06-05 07:19] andreas83 commented on #70
mhm okay this "solution" wont fix the issue..
i guess persistent connection won't neither?!

[2016-06-05 07:24] chilimatic commented on #70
timeout is timeout you could reopen an close the connection everytime

[2016-06-05 09:41] andreas83 commented on #70
or making some sort of select statement every x minutes to keep the connection alive ?

[2016-06-05 10:00] chilimatic commented on #70
still does not protect you from short network errors but you already decided what you wanna do so just do it :)

[2016-06-05 10:19] andreas83 commented on #70
sorry for switching to german but i guess its easier for the moment.

eigentlich hab ich noch gar nichts entschieden, ich bin immernoch auf der Suche nach einer Lösung.

Die änderung: b16840b282d682158b7bc0ac12c21c3ddd4a8579 war nur ein versucht und hat leider nicht funktioniert, hab das ganze gerade nochmal direkt am server modifiziert um zu schauen ob es jetzt vieleicht geht...

leider kann ich

[2016-06-05 10:19] #71 closed, assigned to nobody

[2016-06-05 11:17] chilimatic commented on #70
du kannst in der mysql konsole die connection mit kill terminieren soweit ich weiß.
und du hast das mit den x selects vorher schon erwähnt, also denk ich das es dein Lösung ist und du dich schon dafür entschieden hast bzw du bevorzugst, sonst würdest du es nicht noch einmal erwähnen.

Das ganze problem lässt sich auf verschiedenste arten lösen. ob du jetzt versuchst die verbindung durch "durchgehe

[2016-06-05 15:38] andreas83 commented on #70
neben ich connecte jedes mal neu und ich connecte alle x minuten wäre mir eigentlich am liebsten,
dass er einen reconnect versuch macht, wenn er "mysql has gone away"  als exception bekommt.
wenn dieser versuch erfolgreich ist, kann er den "nur ein reconnect versuch" flag wieder resetten bis zum nächsten versuch :)

nachdem ich die dbhandler, interfaces und traits von dir nicht 100% verstehe würde

[2016-06-05 17:19] chilimatic commented on #70
fauler sack! :P ich schau's mir morgen an bin heut noch fertig von der gestrigen geburtstagsfeier :)

[2016-06-06 21:11] andreas83 commented on #72
this bugfix will solve the issue for new uploaded videos...

[2016-06-06 21:11] #72 closed, assigned to nobody

[2016-06-06 21:51] andreas83 commented on #70
Ein paar dinge die ich jetzt herausgefunden habe.
1.) Man kann es mit show processlist und kill nachstellen (danke)
2.) Exception wirft der WebSocketServer !?
SQLSTATE[HY000]: General error: 2006 MySQL server has gone away

Was mich etwas verwundert, bin eigentlich davon ausgegangen das die Exception irgendwo im dbhandler geworfen wird und ich dort einfach ein reconnect machen kann....

Wäre über

[2016-06-06 22:34] chilimatic commented on #70
hmm cool. das mim error war mir klar nachdem ich bei dir nur eine initalisierungs abstraktion gebaut habe und nicht wirklich ein volles adapter konzept mit interface implementiert habe. Oder direkter gesagt ... du verwendest immer noch PDO direkt. Die exception passiert natürlich dort wo die objekt referenz aufgerufen wird -> da es keine wrapped "query" methode gibt.

ich hab heut leider bis um 21

[2016-06-07 21:30] andreas83 commented on #70
ich lasse das tickets zu sicherheit mal 24h offen, sollte aber mit 6b195945cde254e9921f4350eaf133475254de6b erledigt sein.

Ich verwende jetzt die Lösung von https://gist.github.com/extraordinaire/4135119
Vieleicht gibt es aber noch eine bessere Lösung als ständig ein show status zu callen.

[2016-06-07 21:38] andreas83 opened #73 "video fullscreen"
webm videos don't use fullscreen properly because of some css hacks...
demo:
http://www.dasmerkendienie.com/permalink/21863

result:
fullscreen mode don't use the whole screen
expected result:
fullscreen is fullscreen !

does not work on
chrome

works on
firefox
android

[2016-06-07 21:40] andreas83 commented on #67
i will close this issue and open another one, since this conversation went to an completely wrong direction ...

[2016-06-07 21:40] #67 closed, assigned to nobody

[2016-06-08 11:41] andreas83 commented on #70
Die Lösung funktioniert, womit das Ticket auch geschlossen werden kann.
Werde noch ein follow up ticket eröffnen, wo es darum geht, den ConnectionManager zu optimieren.
Glaube die Lösung ist nicht die effizienteste.

[2016-06-08 11:41] #70 closed, assigned to nobody

[2016-06-09 22:21] andreas83 commented on #52
should be fixed now

[2016-06-09 22:21] #52 closed, assigned to nobody

[2016-06-10 21:13] andreas83 opened #74 "trending are not trending enough"

[2016-06-10 23:15] andreas83 opened #75 "HTTPS - Lets encrypt"
Hi besn,
möchte gerne eine https version anbieten, das letsencrypt ssl cert is leider abgelaufen.
kannst du dir das mal anschauen ?

[2016-06-20 12:18] neuron303 opened #76 "Put user links into own namespace"
Personal pages are located at
`http://www.dasmerkendienie.com/<username>`
Proposal:
Put them into namespace "user" or "nick"
e.g.
`http://www.dasmerkendienie.com/nick/<username>`

Reason:
User names can collide with existing links
see http://www.dasmerkendienie.com/permalink/19261
and click on the username ;)

[2016-06-20 12:20] andreas83 commented on #76
i prefer to reserve namespaces like /hash or /permaling ...

[2016-06-20 12:30] chilimatic commented on #76
@andreas83 is this sarcastic ? because he just suggested to reserve 1 more namespace for all users which at least as I understand makes a lot of sense. And it has nothing to do with your namespaces . Or do I miss something ?

[2016-06-20 13:08] andreas83 commented on #76
was ich mit der aussage meinte, mir wäre es lieber bei der registrierung usernames
mit /hash/blub am anfang zu verbieten, als alle links zum userprofile ändern.
A cool URI is one which does not change - https://www.w3.org/Provider/Style/URI.html

[2016-06-20 13:30] chilimatic commented on #76
hmmm verstehe, also eine designfrage. Ich hab mir das jetzt durchgelesen und versteh schon was er meint allerdings frag ich mich wieviel user dmdn hat und wieviele ihre profile regelmässig aufrufen und warum man nicht einfach einen redirekt macht ? Aber ja das ist jetzt geschmack :D und es ist dein Baby :)

[2016-06-20 15:48] neuron303 commented on #76
@andreas83 you are right that these are actually seperate problems and that usernames that contain path elements shouldnt be accepted.
i just noticed that the namespaces are "inconsistent" and will open a seperate issue.

the design decision to put users into root is valid but shouldnt be made lightheartedly since there is only one :) since the site is still in its infancy this change can be made

[2016-06-20 15:48] #76 closed, assigned to nobody

[2016-06-20 16:12] neuron303 opened #77 "Identifiers can contain path elements in URLs"
Do not allow identifiers(i.e. nick names, hash tags, ...) that contain path elements or escape them.

Example: http://www.dasmerkendienie.com/permalink/19301

[2016-06-22 21:23] andreas83 commented on #75
looks like my \* redirect to index.php creates a conflict with the letsencrypt validation...

location /.well-known/acme-challenge {
     root /var/www/letsencrypt;
}
try_files $uri /index.php?$args;

[2016-06-23 06:41] neuron303 opened #78 "Do not use uniqid() to reset password"
http://php.net/manual/en/function.uniqid.php

As stated in the manual this function should not be used for security purposes as it is not unpredictable

[2016-06-26 10:06] andreas83 commented on #78
i my opinion this is a very unlikely case, but anyway lets try to fix it.
my approach would be something like this:

 `md5(uniqid($your_user_login, true))`

any other recommendations ?

[2016-06-26 10:22] chilimatic commented on #78
`password_hash(MD5(uniqid(mcrypt_create_iv(22, MCRYPT_DEV_URANDOM), true)), PASSWORD_BCRYPT, ['cost' => 8]);`

but then you could not validate the password via the database anymore.

so how about

`MD5(uniqid(mcrypt_create_iv(22, MCRYPT_DEV_URANDOM), true));`

still weak because of the low timecomplexity calculating MD5s (dictionary attack) but at least a little bit more random

[2016-06-26 10:50] andreas83 commented on #78
???
its about the password reset hash send to a user, there is no password validation involved...

[2016-06-26 10:52] chilimatic commented on #78
ahh i thought you set a temporary password .... :D if that's the issue ... who cares ? :D there is a possiblity of collisions but it's marginal and your plattform has such a low number of users atm :)

[2016-06-26 11:00] andreas83 commented on #78
mhm sorry i was wrong, i send a temp password while someone is clicking on the confirmation link.
but jepp is still a very unlikely security issue

[2016-06-26 16:31] jhzao82 opened #79 "upload image not exists."
everything will be ok, but I can't find images upload is success.

[2016-06-26 19:38] andreas83 commented on #79
is your upload_path writeable by webserver ?
error logs ?

[2016-06-26 19:53] andreas83 commented on #78
so the real question is, is uniqID good enough for temp passwords?
my answere is, yes it is!

of cause i could create md5 hashes from some more or less random garbage, but of cause there is the possibility of collision too.

keep in mind, this is a very unlikely case, where an attacker can predict the password,
and is able to convince you to click on the reset link (without this action, the temp p

[2016-06-26 20:26] chilimatic commented on #78
I would force him. that's a short windows and if you just add the mcrypt_create_iv(22, MCRYPT_DEV_URANDOM) as prefix in the uniquid it's very unlikely but still you could predict it :D but if someone wanna posts cat pictures so badly .... let him have it :D

[2016-06-27 07:31] andreas83 opened #80 "reauth - dos attack"
in some rare situations the reauth process gets stuck in an endless loop, producing a lot of 500 http request.

[2016-06-27 12:53] andreas83 commented on #80
should be fixed now

[2016-06-27 12:53] #80 closed, assigned to nobody

[2016-07-02 22:27] andreas83 commented on #79
please reopen if its still an issue

[2016-07-02 22:27] #79 closed, assigned to nobody

[2016-07-06 19:12] andreas83 commented on #78
After a short discussion with @neuron303 i decided to replace my api_key generation
with a stronger method.

[2016-07-06 19:12] #78 closed, assigned to nobody

[2016-07-09 06:31] #75 closed, assigned to besn

[2016-07-10 22:30] andreas83 opened #81 "performance issue with db connection manager"
i just created a new db connection for every record :+1:

bugfix: fbc57bb55e35107ca3c628bc9e8a975106687c41

the troube is this one line:
$stmt->fetchALL(\PDO::FETCH_CLASS, $this->className);

i noticed that PDOs fetchALL creates a new object for every row from the query result,
the problem is $this->className constructor als  creates a new db connection for every time its called.

 i feel so speci

[2016-07-11 07:34] chilimatic commented on #81
just use

[code]

you don't use transactions

[2016-07-11 11:23] andreas83 commented on #81
me meine letzte änderung fbc57bb55e35107ca3c628bc9e8a975106687c41 hat dazu geführt,
das #70 wieder aktuell wird

[2016-07-11 11:28] chilimatic commented on #81
hmmm verstehe, naja meine Lösungsvorschläge dafür stehen eh dort, vllt fällt ja @besn @neuron303 was dazu ein :).

[2016-07-11 18:45] andreas83 commented on #81
find momentan deine lösung mit dem pdo extenden noch am besten, weil man so
explizit den fehlerfall behandeln könnte.
in wahrheit wüsste ich auch keine alternativen mehr, ausser  persistent connection ...

[2016-07-14 10:13] chilimatic commented on #81
hmm ja. ist natürlich eine Möglichkeit, alles hat wie immer pro und cons :)

[2016-07-27 19:34] andreas83 commented on #81
@chilimatic kann es sein das auch persisten connections ein timeout haben ?

[2016-07-27 19:39] chilimatic commented on #81
jipp kann gut sein, das timeout kommt von der DB wenn eine connection zu lange idled.
die persistent connections sind ja nur, dass es eine reduzierte anzahl von Verbindungen innerhalb eines aktiven threads aufgebaut werden.

Wenn der Thread aber lange läuft und kein stream über den client auf den server passiert sollte das verhalten gleich sein. An das hab ich voll nicht gedacht sorry :/

[2017-02-15 07:34] amitsavla opened #82 "missing files"
include_once("vendor/autoload.php");

files is missing

[2017-02-15 07:41] chilimatic commented on #82
@amitsavla you need to use composer :) it will generate the vendor directory for you with the autoloader :)

[2017-02-15 08:05] andreas83 commented on #82
Take a closer look at this part:
https://github.com/andreas83/SocialNetwork#install-dependencies
This will install all necessary dependencies including the autoloading :)

[2017-02-15 08:06] #82 closed, assigned to nobody

[2017-02-21 22:01] ThaMunsta opened #83 "Must be in root directory?"
Does this have to be hosted in the root directory? I'm trying to run this on Windows Server 2012 PHP 5.2. Everything seems to work but the paths are all relative to the main website not the subfolder I have the files in. The address configuration doesn't seem to do much. Am I missing something?

[2017-02-22 08:32] andreas83 commented on #83
mhm you could try to add following to the head
`<head><base href="/subfolder/"></head>`

but never tested it so far.

[2017-02-22 18:40] ThaMunsta commented on #83
It looks like that could work but all of the relative paths have a \ which ignores that tag. I tested removing it with the CSS line and it worked.
Doesn't work:
`<link rel="stylesheet" href="/public/css/style.min.css">`
Works:
`<link rel="stylesheet" href="public/css/style.min.css">`
I'll try going through the code and changing those. Thanks!

[2017-02-22 18:57] ThaMunsta commented on #83
Oh, except every page is being treated as a 404 because it's not ignoring the sub directory when it looks at the url. Is there a way to get it to look at the url "subfolder/user/register/" as just "user/register/" ?

[2017-02-23 11:25] chilimatic commented on #83
the easy dirty way would be modifying the content of $_SERVER['REQUEST_URI'] variable before the routing is triggered.
I would recommend the beginning of the init.php script

a clean solution would have to be implemented but you maybe don't want to wait for that :)

another one would be adding the url to the routing with a define('URL_PREFIX', '/blub') and append it to routing in routing.php as pr

[2017-02-23 14:59] ThaMunsta commented on #83
Doing a str_replace on $_SERVER['REQUEST_URI'] to remove the subfolder seems to work for the most part but I need to fix some links still for things like user registration and I'm not sure about login if that will work.

URL_PREFIX trick I don't think I understand enough about the routing to get working. My subfolder is "wall" so I tried adding define('URL_PREFIX', '/wall'); but it didn't seem to

[2017-02-23 15:52] chilimatic commented on #83
I see, well it's a rather straight forward architecture which is good if you're not used to such systems.

It seams like didn't explain enough for the URL_PREFIX first of all ;D my mistake it should be the the URI_PREFIX -

 because it's a specific **resource** we route to.

`
$router->map('GET|POST', URL_PREFIX.'/user/login/', '\SocialNetwork\app\controller\UserController#login');
`

so if the pr

[2017-02-23 19:33] ThaMunsta commented on #83
Helps a lot actually thank you. I have almost everything working now. Just need to change a few redirect URLs still. I have registration and logging in working. Just need to get sharing working and some smaller bits. Thanks so much!

[2017-02-23 19:48] andreas83 commented on #83
You are welcome :+1:
If you need any further advice, don't hesitate to ask

[2017-03-23 12:41] bestshow opened #84 "SocialNetwork – Cross-Site Scripting (XSS)"
Product: SocialNetwork
Download: https://github.com/andreas83/SocialNetwork
Vunlerable Version: v1.2.1 and probably prior
Tested Version: v1.2.1
Author: ADLab of Venustech

Advisory Details:
A Cross-Site Scripting (XSS) was discovered in “SocialNetwork v1.2.1”, which can be exploited to execute arbitrary code.
The vulnerability exists due to insufficient filtration of user-supplied data in the “ma

[2017-03-23 13:08] andreas83 commented on #84
Should be fixed now, please confirm

[2017-03-28 07:33] #84 closed, assigned to andreas83, bestshow

[2017-04-06 08:29] rolltale opened #85 "How should I do the permission part when I run this on Windows10?"
Fatal error: Call to undefined function _() in C:\AppServ\www\SocialNetwork\app\template\menu.php on line 33

[2017-04-06 08:33] andreas83 commented on #85
Please make sure PHP Gettext is installed.

[2017-04-06 08:44] andreas83 commented on #85
Just make sure the upload folder is writeable by webserver.
Also i am not sure about the socket server, never tested it on windows.

[2017-04-07 21:21] #85 closed, assigned to nobody

[2017-04-14 09:24] andreas83 opened #86 "http2 preload aka server push"
not sure if its Social Network or Chrome itself but when i add following header to nginx, reloading of our  demo site breaks chrome.

`add_header link '</public/css/style.min.css>; rel=preload';`
`add_header link '</public/js/app.js>; rel=preload';`

[2017-04-14 09:26] andreas83 commented on #86
@besn @chilimatic  please can you confirm this bug?

[2017-04-14 10:24] chilimatic commented on #86
@andreas83 I'll put in my calendar and try to confirm it till Tuesday next week.

[2017-04-22 09:25] rolltale opened #87 "[Composer\Downloader\TransportException] Content-Length mismatch"
**At the composer install step**

- Loading composer repositories with package information
- Updating dependencies (including require-dev)
-
-
-   [Composer\Downloader\TransportException]
-   Content-Length mismatch
-
-
- install [--prefer-source] [--prefer-dist] [--dry-run] [--dev] [--no-dev] [--no-custom-installers] [--no-autoloader] [--no-scripts] [--no-progress] [--no-suggest] [-v|vv|vvv|--ver

[2017-04-22 11:13] chilimatic commented on #87
have you tried `composer selfupdate` as well as `composer clear` before running the installation ?

Please provide general environment information like
the operation system and composer version so we are able to help/test accordingly.

[2017-04-22 11:58] rolltale commented on #87
I tried `composer selupdate` and `composer clear` just now, and there are some new issues appeared.

[code]
**@chilimatic Thanks for answering
OS : Ubuntu(Linux)
PHP : 7.0.15
composer : 1.4.1**

[2017-04-22 12:02] chilimatic commented on #87
ahhh :D

`sudo apt-get install php-curl php-xml`
and retry :) let me know if it worked out :) I use arch so I'm not quite sure if I used the correct curl packages

`sudo apt-cache search php | grep curl` should give yo the right result

[2017-04-22 12:03] chilimatic commented on #87
and don't forget to restart your fpm or if you used apache mod your apache, if it's not happening automatically :)

[2017-04-22 12:18] rolltale commented on #87
@chilimatic Thank you very much! It worked `sudo apt-get install php-curl php-xml`
This issue borthered me a week.
Thanks again~

[2017-04-22 12:26] chilimatic commented on #87
you're welcome ! :)

[2017-04-22 12:27] #87 closed, assigned to nobody

[2017-04-24 06:46] andreas83 commented on #87
@chilimatic thx!

[2017-05-01 13:48] visheshCuriousDev opened #88 "Fatal error: Uncaught Error: Class 'AltoRouter'"
Fatal error: Uncaught Error: Class 'AltoRouter' not found in C:\xampp\htdocs\SocialNetwork\routing.php:5 Stack trace: #0 C:\xampp\htdocs\SocialNetwork\init.php(6): include_once() #1 C:\xampp\htdocs\SocialNetwork\index.php(9): require_once('C:\\xampp\\htdocs...') #2 {main} thrown in C:\xampp\htdocs\SocialNetwork\routing.php on line 5

Why this error occurs where is the AltoRouter declared ??

[2017-05-01 13:58] #88 closed, assigned to nobody

[2017-05-02 07:06] andreas83 commented on #88
just in case someone else read this ticket, the solution is simply run composer update

[2017-05-06 16:01] andreas83 commented on #86
can reproduce this issue on another computer.
chrome Version 51.0.2704.84 (64-bit)
ubuntu xenial

steps to reproduce:
go to demo site:
http://www.dasmerkendienie.com/
hit reload
Chrome drops a oh no error message!?

very strange behavior

[2017-05-10 18:29] andreas83 commented on #86
i just removed the preload header and now everything works fine...
[code]

[2017-05-10 18:29] #86 closed, assigned to nobody

[2017-06-23 00:05] andreas83 commented on #9
Now we will use the migration manager from laravel see dev branch

[2017-06-23 00:05] #9 closed, assigned to nobody

[2017-06-23 06:55] chilimatic commented on #9
out of curiosity :) ... y ? y laravel ? :) I've read the spec they look good actually. But still that's what I've been arguing in the first place ;D ... unless you actually compare them (make a blog entry out of it or whatever.) you actually are going for an opinionated decision not a factual :)

[2017-08-17 00:30] ghost opened #90 "some files missing"
Warning: include_once(vendor/autoload.php): failed to open stream: No such file or directory in C:\xampp\htdocs\SocialNetwork-master\init.php on line 5

Warning: include_once(): Failed opening 'vendor/autoload.php' for inclusion (include_path='C:\xampp\php\PEAR') in C:\xampp\htdocs\SocialNetwork-master\init.php on line 5

Fatal error: Class 'AltoRouter' not found in C:\xampp\htdocs\SocialNetwork-m

[2017-08-17 08:14] andreas83 commented on #90
Hi Davis,
you need to run composer first, please have a look here:
https://github.com/andreas83/SocialNetwork#install-dependencies

[2017-08-17 08:14] #90 closed, assigned to nobody

[2017-08-19 14:57] ghost commented on #90
thank you bro... honestly your works are inspiring also with your Codes they are amazing... Am still a novice when it comes to php mysqli if you have tutorials for me that would be great. Here's is my Email: davismail200@gmail.com.

am actually designing a social network and am having problem on file upload using session "based on logged in user" is a system where you can store your photos, docume

[2017-08-20 01:24] ghost opened #91 "Sorry Am writing you this because i don't know how to contact you"
thank you bro... honestly your works are inspiring also with your Codes they are amazing... Am still a novice when it comes to php mysqli if you have tutorials for me that would be great. Here's is my Email: davismail200@gmail.com.

am actually designing a social network and am having problem on file upload using session "based on logged in user" is a system where you can store your photos, docume

[2017-08-21 11:18] andreas83 commented on #91
you can contact me via andreas@moving-bytes.at

[2017-08-21 11:18] #91 closed, assigned to nobody

[2017-12-15 14:21] thakurabhishek795 opened #92 "not working properly"
how to run this on my localhost, var/www/html   is my localhost directory
I'm using Apache server, os-  ubuntu

https://imgur.com/a/UgWeX      --- view of this project when I'm running this in browser

[2017-12-15 14:27] chilimatic commented on #92
hey,

did you set

[code]
in your configuration ? this looks like the address / path is missing for the CSS files.

[2017-12-15 16:23] thakurabhishek795 commented on #92
; URL
address="http://localhost/SocialNetwork"
; Path to URL
dir="/var/www/html/"

; Upload path & address
upload_path="/public/upload/"
upload_address="http://localhost/public/upload/"

https://imgur.com/a/SgR5U       image of my file system

is this ncessary to put file inside the vhost?

[2017-12-15 19:10] chilimatic commented on #92
I don't thinks so the .htaccess should take care of the rewrites.

I would check the apache logs next to see what the css request answers with. maybe you forgot to set the correct read permissions for those folders.

[2017-12-15 19:39] thakurabhishek795 commented on #92
I have given 777  permission to all var/www file

[2017-12-15 19:44] thakurabhishek795 commented on #92
is there any way to ssh or remote desktop to my computer so you can check this?

[2017-12-15 19:49] chilimatic commented on #92
teamviewer would be 1 possibillity

http://www.p2p-network.net/webchat.php

channel social-network

[2017-12-15 19:53] thakurabhishek795 commented on #92
what I have to fill in Channel  and  key option

[2017-12-15 19:55] chilimatic commented on #92
http://www.p2p-network.net/webchat.php -> channel: social-network :) nickname just pick one :) and we talk there

[2017-12-15 21:26] chilimatic commented on #92
fixed it via remote session -> it was a local apache configuration issue :)

[2017-12-15 21:26] #92 closed, assigned to chilimatic

[2017-12-15 21:35] thakurabhishek795 commented on #92
Thank you for solving my problem... but what is the major problem .... file locations or something else?

[2017-12-15 22:33] chilimatic commented on #92
@thakurabhishek795 the document root was not set in you apache config :) and the configuration was messed up because you were compensating for it :)

[2017-12-17 20:52] andreas83 commented on #92
thx @chilimatic

[2018-03-19 14:14] #83 closed, assigned to nobody

[2018-04-03 11:13] #39 closed, assigned to nobody

[2018-10-05 19:46] andreas83 opened #93 "fb login doesn't work anymore."

[2018-10-05 19:51] andreas83 commented on #93
fixed in a5f62cde5251015ce88103e13dd91277a46f1b5f

[2018-10-05 19:51] #93 closed, assigned to nobody

[2018-10-15 09:58] #73 closed, assigned to nobody

[2018-10-15 10:03] andreas83 opened #94 "Comments"
Feature Request -> Comment improvement:

- [ ] Edit & Delete (mandatory)
- [ ] Links clickable (mandatory)
- [ ] Reply function (mandatory)
4. Links witch preview (nice to have)
5. Like comments (nice to have)

Open Questions:

Anything else which is mandatory for our new comment section?
How many levels of reply should be possible ?

Would love to get some feedback, in special from @besn @neuron3

[2018-10-15 10:13] besn commented on #94
@andreas83 the requested features are looking good. maybe embedding images from the local or certain whitelisted domains so you can comment with a gif would be nice :)

regarding the depth for comments i would suggest making it (virtually) infinite (with a "show more" link at a certain depth) but configurable so the administrator can limit it if they want to.

[2018-10-16 12:43] andreas83 opened #95 "migrating away from bower to yarn"

[2018-10-17 10:02] andreas83 commented on #81
witzigerweise hab ich das issue auf dem neuen server nicht mehr... scheinbar gab es unterschiede in der server konfiguration die dazu geführt hat, das soviele connections aufgemacht wurden ....

[2018-10-17 10:02] #81 closed, assigned to nobody

[2018-10-17 10:03] #74 closed, assigned to nobody

[2018-10-17 22:13] andreas83 opened #96 "Dark theme"
Some user ask me to add a dark theme.

[2018-10-19 23:42] andreas83 commented on #95
when you start to replace bower and ending up changing literally everything...
0b3cdbc702e2d80388cb29c72b991ee75d9fbda5

[2018-10-20 00:48] chilimatic commented on #95
i know, they are not the same :) one is a provision system mainly to just use them from the public folder. the other thing is a provisioning for node :)

[2019-02-18 20:04] #96 closed, assigned to nobody

[2019-05-29 16:16] andreas83 opened #97 "xss issues"
looks like there are some xss issues.
Recommendation:
Remove all $_POST /$_GET vars and use a request handler class

[2020-01-28 10:10] FeverKing opened #98 "/public/stream Not Found"
Hi,
Sorry to trouble you, but it seems that /public/stream is missing during the installation. Please tell me how to fix it.
Thx

[2020-01-28 10:10] FeverKing commented on #98
Also my css files seems not working..

[2020-01-28 10:20] andreas83 commented on #98
Do you use apache and have mod rewrite enabled ??
its needed for the url rewrite stuff, there is also a example for nginx in the documentation

[2020-01-28 11:39] FeverKing commented on #98
Oh Ic, thx for that.
I just read about apache and didn't see the nginx conf below
Thank u anyway :)

[2020-01-28 11:39] #98 closed, assigned to nobody

[2020-01-30 23:12] #4 closed, assigned to nobody

[2020-01-30 23:12] #8 closed, assigned to nobody

[2020-01-30 23:12] #11 closed, assigned to nobody

[2020-01-30 23:12] #20 closed, assigned to nobody

[2020-01-30 23:12] #44 closed, assigned to nobody

[2020-01-30 23:12] #50 closed, assigned to nobody

[2020-01-30 23:12] #53 closed, assigned to nobody

[2020-01-30 23:12] #56 closed, assigned to nobody

[2020-01-30 23:12] #57 closed, assigned to nobody

[2020-01-30 23:12] #68 closed, assigned to nobody

[2020-01-30 23:12] #77 closed, assigned to nobody

[2020-01-30 23:12] #94 closed, assigned to nobody

[2020-01-30 23:12] #95 closed, assigned to nobody

[2020-01-30 23:12] #97 closed, assigned to nobody

[2020-03-05 20:31] andreas83 opened #101 "Feature Request : Groups"
I like to add a new feature: groups, with moderators, members and all the common stuff.

Proposal: DB Structure
[code]

Feedback welcome!

[2020-09-21 22:29] andreas83 opened #116 "Security issue"
**Symptom**
Looks like its possible to change personal settings like avatar, description, background image etc.

[2020-09-21 22:55] andreas83 commented on #116
After 25 min of  research i found something interesting:

`<img src="a" onerror="axios.put('/api/user/1', {bio:'HACKED',avatar:'HACKED',background:'HACKED'})">`

[2020-09-21 23:04] andreas83 commented on #116
some more meta information about the issue:
[code]

[2021-01-20 11:45] #116 closed, assigned to andreas83